# git submodule add https://github.com/zzossig/hugo-theme-zzo themes/zzo
# git submodule add https://github.com/zzossig/hugo-theme-zzo zzo.ricc.rocks/themes/zzo
# git submodule update --recursive
# If you make mistake: https://gist.github.com/myusuf3/7f645819ded92bda6677
# git submodule deinit -f  zzo.rick.rocks/themes/zzo
# rm -rf .git/modules/zzo.rick.rocks/themes/zzo
# git rm -f zzo.rick.rocks/themes/zzo

[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "ricc-hugo-stack-copy/themes/hugo-theme-stack"]
	path = ricc-hugo-stack-copy/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
# [submodule "themes/zzo"]
# 	path = themes/zzo
# 	url = https://github.com/zzossig/hugo-theme-zzo
# https://github.com/panozzaj/conf/blob/master/common/bin/git-submodule-remove
# [submodule "zzo.rick.rocks/themes/zzo"]
# 	path = zzo.rick.rocks/themes/zzo
# 	url = https://github.com/zzossig/hugo-theme-zzo
[submodule "zzo.ricc.rocks/themes/zzo"]
	path = zzo.ricc.rocks/themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo
